<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pirula Time</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="static/favicon.jpg" type="image/x-icon">
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="https://www.youtube.com/@Pirulla25" class="brand-logo">
            <img src="static/pirula-yes.png" alt="Pirula Time" style="width: 40px; height: auto;">
        </a>
        <a id="Channel" href="https://www.youtube.com/@Pirulla25" class="right">
            Canal do Pirula
        </a>
    </div>
</nav>
<div class="container">
    <div class="timer">
        <br><br>
        <h1 class="header center orange-text"> {{ mean_duration }} &plusmn; {{ std_duration }}</h1>
        <div class="row center">
            <h5 class="header col s12 light">Pirula Duration. Last updated: 00:00 </h5>
        </div>
        <div>
            <h2 class="header center">Statistics Summary</h2>
            <table class="responsive-table custom-table">
                <thead>
                    <tr>
                        <th>Statistics</th>
                        <th>Values</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mean Pirula Duration</td>
                        <td> {{ mean_duration }} </td>
                    </tr>
                    <tr>
                        <td>Standard Deviation of Pirula Duration</td>
                        <td> {{ std_duration }} </td>
                    </tr>
                    <tr>
                        <td>Total of Pirula's Videos Duration</td>
                        <td> {{ total_duration }} </td>
                    </tr>
                    <tr>
                        <td>Total of Pirula's Videos</td>
                        <td> {{ total_count }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h2 class="header center">Unkown Facts</h2>
            <table class="responsive-table custom-table">
                <thead>
                    <tr>
                        <th>Facts</th>
                        <th>Values</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Speed of Light in Pirula</td>
                        <td> {{ speed_of_light }} m/pirula</td>
                    </tr>
                    <tr>
                        <td>Time to go from Sun to Earth in Pirula</td>
                        <td> {{ time_sun_earth }} pirula</td>
                    </tr>
                    <tr>
                        <td>Closest Star in Pirula</td>
                        <td> {{ closest_star }} pirula</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row center">
            <img src="static/histogram.png" alt="Histogram" style="width:100%;">
            </div>
            <br><br>
            <div class="row center">
                <img src="static/mean_series.png" alt="Time Series" style="width:100%;">
            </div>
        </div>
    </div>
    <div class="row center">
        <a href="static/files/pirula_planilha.xlsx" class="waves-effect waves-light btn" download>
            Download Excel
        </a>
    </div>
</div>
<footer class="light-blue lighten-1 page-footer">
<div class="footer-copyright">
    <div class="container">
         Made with <i class="tiny material-icons">favorite</i> by <a class="grey-text text-lighten-3" href="https://github.com/lcscosta">Lucas da Costa</a>
        <a class="grey-text text-lighten-4 right" href="https://github.com/firefueled/pirula-time">Inspired by the previous work of firefueled</a>
    </div>
</div>
</footer>
</body>
</html>
